@tailwind base;
@tailwind components;
@tailwind utilities;
#map {
    height: 480px;
    width: 600px;
}

footer {
    height: 100%;
    width: 100%;
}

.circular-ball {
    display: block;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .container p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .container form {
    text-align: center; /* Center the form contents horizontally */
  }
  
  .container form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .container form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  .container form button[type="submit"] {
    background-color: #3d2645;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container form button[type="submit"]:hover {
    background-color: #000000;
  }
  