@tailwind base;
@tailwind components;
@tailwind utilities;
#map {
    height: 480px;
    width: 480px;
}

.bg-cloud-footer {
    background-image: url('/assets/images/cloud-footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
}