@tailwind base;
@tailwind components;
@tailwind utilities;
#map {
    height: 480px;
    width: 600px;
}

footer {
    height: 100%;
    width: 100%;
}

.number-cell {
    width: 5px; /* Adjust the width as needed */
    height: 5px; /* Adjust the height as needed */
    background-color: #333; /* Background color for the circular ball */
    color: #fff; /* Text color */
    border-radius: 50%; /* Make it a circle */
    text-align: center; /* Center align the text horizontally */
    line-height: 5px; /* Center align the text vertically */
    font-weight: bold; /* Make the text bold */
  }
